absl-py==1.0.0
numpy==1.22.4
cloudpickle==2.0.0
six==1.16.0
libpython==0.2
chex==0.1.5
Cython==0.29.28
flax==0.4.1
optax==0.1.2
rlax==0.1.4
pyglet==1.5.24
xmanager==0.1.5
pyvirtualdisplay==3.0
sk-video==1.1.10
ffmpeg-python==0.2.0
wandb==0.16.2
tensorrt
tensorflow-gpu==2.8.0
tensorflow_probability==0.15.0
tensorflow_datasets==4.6.0
dm-reverb==0.7.2
dm-launchpad==0.5.2
jax==0.4.3
jaxlib==0.4.3+cuda11.cudnn86 
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
dm-haiku==0.0.10
dm-sonnet
trfl
atari-py
bsuite
dm-control
gym==0.25.0
gym[accept-rom-license, atari, Box2D]
pygame==2.1.0
rlds
git+https://github.com/google-deepmind/acme.git@4c6351ef8ff3f4045a9a24bee6a994667d89c69c
scipy==1.12.0